apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: ecommerce
  labels:
    app: order-service
spec:
  selector:
    app: order-service
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
  type: ClusterIP
